body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 14px;
  line-height: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
button {
  border-radius: 4px;
  border: none;
  color: #ffffff;
}
button:focus {
  outline: none;
}
.active {
  color: #00974C !important;
}
/* <-------- Utilities ------> */
.w-70 {
  width: 70%;
}
.w-83 {
  width: 83%;
}
.w-60 {
  width: 60%;
}
.mt-70 {
  margin-top: 70px
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-40 {
  margin-bottom: 40px;
}
.opaque {
  opacity: 0.8;
}
.green {
  color: #00974c;
}
.gray, .gray:hover {
  color: #BCBDBE
}
.lh-30 {
  line-height: 30px
}
.h-55 {
  height: 55px;
}

/* <------- Button classes ------> */
.btn-green {
  background-color: #00974c;
  padding: 13px 57px;
}
.btn-bright,
.btn-bright:hover {
  border: 1px solid rgba(255,255,255,.4);
  padding: 12px 47px;
  background: transparent;
}
.btn-light-green {
  border: 1px solid rgba(0,151,76,.4);
  background: transparent;
  color: #00974c;
  font-weight: 700;
}
.btn-light-green.sm {
  padding: 13px 40px;
}
.btn-light-green.lg {
  padding: 13px 30px;
}
.btn-light-green.md {
  padding: 13px 55px;
}
.btn-green-nav {
  background-color: #8ac34e;
  padding: 17px 40px;
}

/*------ Nav and Banner --------*/
#nav-banner {
  z-index: -1;
  padding: 0 145px;
}
.home {
  background: url('../assets/images/Bitmap.png') no-repeat center center;
  background-size: cover;
}
.home a {
  color: #ffffff !important;
  font-size: 14px;
  line-height: 17px;
}
header ul:nth-child(1) {
  width: 65%;
  justify-content: space-evenly;
}
header ul:nth-child(2) {
  width: 30%;
  justify-content: space-between;
}
#banner {
  padding-top: 123px;
  padding-bottom: 200px;
}

/* <-------- Products Section --------> */
#products {
  color: #000d17;
  padding: 0 15px 80px 160px;
}
.firstSection {
  padding-top: 76px;
}
.secondSection {
  padding-top: 86px;
}
.pricing {
  color: #ffffff;
  background-color: #8ac34e;
  padding: 64px 20px 64px 50px;
}

/* <------- Services ------> */
.service {
  color: #01111d;
}
.service img {
  height: 46px;
  margin-bottom: 2rem;
}
.service p {
  margin-bottom: 0;
}

/* <------- Info section -------> */
#info {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url('../assets/images/adult-airport-backpack-838413.jpg') no-repeat center;
  background-size: cover;
  color: #ffffff;
  padding: 160px 0 160px 145px;
}
#info p {
  margin: 2rem 0;
}
.checklist {
  height: 200px;
  justify-content: space-between;
}
.check {
  justify-content: flex-start;
}
.check span {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.check img {
  margin-right: 1rem;
}

/* <-------- Contact Section -------> */
#contact {
  padding: 198px 0;
}

/* <----- Pick a Plan section ------> */
#pickPlan {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url('../assets/images/bg3.jpg') no-repeat center center;
  background-size: cover;
  padding: 250px 0;
}

/* <------- Product Catalog Section -------> */
#catalog {
  color: #01111d;
  padding-top: 96px;
  padding-bottom: 96px;
}
.product img {
  width: 150px;
  height: auto;
}
.catalog_products {
  display: flex;
  justify-content: space-around;
  padding: 0 10rem;
}

/* <------- Footer Section -------> */
footer {
  background-color: #F6F7F7;
  color: #01111D;
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer_content {
  padding-right: 150px;
  padding-left: 150px;
}
footer h5 {
  font-weight: 700;
  height: 35px;
}
.blocks {
  height: 60%;
}
.copyright {
  color: #979797;
  padding-top: 60px;
  padding-left: 15px;
}


/* <---------- Service page ----------> */
#nav-banner header a {
  color: #000D17;
  font-size: 14px;
  line-height: 17px;
}
#services {
  padding-top: 24px;
  padding-bottom: 70px;
}
#services h6 {
  line-height: 24px;
  color: #01111D;
}

/* <---------- Services Page -------> */
#servicePage {
  color: #000D17;
  padding-top: 67px;
  padding-bottom: 40px;
}

/* <--------- Contact Us ---------> */
#contactUs {
  padding-bottom: 60px;
}
.contactUs {
  background-color: #000D17;
  border-radius: 4px;
  color: #FFFFFF;
}
.contactUs img {
  padding-top: 20px;
}
.contactText {
  padding: 40px 0 40px 40px;
}
.contactText h3 {
  line-height: 32px;
}
.contactText h6 {
  padding-bottom: 45px;
}