:root {
  --primary-theme-color: #fdab37; /* orange */
  --secondary-theme-color: #4275b0; /* blue */
  --thickness: 5px;
  --size: 125px;
  --border-radius-squareness: 1; /* a factor for scaling #'s */
}
.px-7 {
  padding: 0 10rem;
}
.px-7 {
  padding: 0 8rem;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.mt-70 {
  margin-top: 70px
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}


/*------ Nav and Banner --------*/
#nav-banner {
  background: url('../assets/images/Bitmap.png') no-repeat center center;
  z-index: -1;
  background-size: cover;
}

#nav-banner .text-white {
  padding: 0 10rem;
}

header a {
  color: #ffffff !important;
}

header ul:nth-child(1) {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

header ul:nth-child(2) {
  width: 30%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

.btn-green {
  background-color: #00974c;
  color: white;
  padding: 13px 57px;
  border-radius: 4px;
}

.btn-bright,
.btn-bright:hover {
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 4px;
  padding: 11px 47px;
  background: transparent;
  color: #ffffff;
}
.btn-light-green {
  border: 1px solid rgba(0,151,76,.4);
  border-radius: 4px;
  background: transparent;
  color: #00974c;
  font-weight: 700;
}
.btn-light-green.sm {
  padding: 13px 40px;
}
.btn-light-green.lg {
  padding: 13px 30px;
}
.btn-light-green.md {
  padding: 13px 65px;
}
.btn-green-nav {
  background-color: #8ac34e;
  border-radius: 4px;
  width: 168px;
  height: 48px;
  color: #ffffff;
}
.pickPlan-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url('../assets/images/bg3.jpg') no-repeat center center;
  background-size: cover;
  padding: 250px 0;
}

.pickPlan-bg .writeup {
    height: 35%;
}

.pickPlan-bg .writeup h2 {
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.pickPlan-bg .writeup p {
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.8;
    text-align: center;
}

.heroSection .heroSection__texts {
    color: #ffffff;
}

.heroSection .heroSection__texts h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
    width: 401px;
    text-align: left;
    margin-bottom: 1rem;
}

.heroSection .heroSection__texts p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
    width: 387px;
    text-align: left;
    margin-bottom: 2rem;
}

.heroSection button:nth-child(0) {
    background-color: #00974c !important;
    border-radius: 4px !important;
    width: 200px !important;
    height: 60px !important;
}

/** this is the second section */

.secondSection {
  padding: 5rem 7rem 3rem 10rem;
}
.thirdSection {
  padding: 2rem 7rem 3rem 10rem;
}
#products {
  color: #ffffff;
}
.whyUseUsSection__header {
  margin-bottom: 40px;
  padding-left: 0;
}

.whyUseUsSection__header h2 {
  color: #00974c;
  font-size: 40px;
  line-height: 56px;
  width: 594px;
  text-align: left;
  margin-bottom: 2rem;
}
.whyUseUsSection__header p {
  color: #000d17;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
  width: 471px;
  text-align: left;
}
.pricingCondition {
  background-color: #8ac34e;
  height: 622px;
  padding: 4rem;
}

.pricingCondition h2 {
  font-size: 30px;
  line-height: 48px;
}
.pricingCondition p {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
  text-align: left;
}
.pricingCondition button {
  width: 100%;
  margin: 0.5rem 0;
}


/** services */
.service {
  color: #01111d;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.service img {
  height: 2.9rem;
  margin-bottom: 2rem;
}

.service h2 {
  font-size: 26px;
  line-height: 32px;
  width: 70%;
  margin-bottom: 1rem;
}
.service p {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
  width: 65%;
}

/** learn more section*/
.learnMore-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url('../assets/images/adult-airport-backpack-838413.jpg') no-repeat center;
  background-size: cover;
  color: #ffffff;
  padding: 10rem 0;
}
.learnMore-bg h2 {
  font-size: 40px;
  line-height: 48px;
  text-align: left;
}
.learnMore-bg p {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
  text-align: left;
  margin: 2rem 0;
}
.checklist {
  height: 200px;
  justify-content: space-between;
}
.checklist .check {
  display: flex;
  justify-content: flex-start;
}

.checklist .check span {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  align-self: center;
}

.checklist .check img {
  margin-right: 1rem;
}

/** a little more details */
.littleMoreDetail {
  padding: 9rem;
}

.littleMoreDetail .littleMoreDetail__writeup h2 {
  color: #01111d;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  padding-bottom: 1rem;
}
.littleMoreDetail .littleMoreDetail__writeup span {
  color: #00974c;
}
.littleMoreDetail .littleMoreDetail__writeup p {
  color: #01111d;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
  width: 561px;
  text-align: left;
}

/** product catalog */
.productCatalog {
  color: #01111d;
  text-align: center;
  margin-bottom: 96px;
}
.content {
  padding: 5rem 20rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content h2 {
  font-size: 40px;
  line-height: 48px;
  width: 80%;
  margin-bottom: 2rem;
}

.content p {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
  width: 653px;
  width: 80%;
}

.product img {
  width: 14rem;
}
.product {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product h4 {
  font-size: 24px;
  line-height: 32px;
}
.productCatalog .productCatalog__products {
  display: flex;
  justify-content: space-around;
  padding: 0 10rem;
}
